<div>
  <h3>Liste des projets</h3>
  <h5 id="listeProjetVide"> Aucun projet défini </h5>

  <ul class="list-group">
    <a class="list-group-item"
       *ngFor="let projet of Projets">

       <h5>{{ projet.name }}</h5>

       <ul class="list-group">
         <app-tache-simple *ngFor="let tache of projet.tasks"
                            [tache]="tache"></app-tache-simple>
       </ul>
    </a>
  </ul>
</div>

<div>
  <h3>Liste des tâches sans projet associé</h3>
  <h5 id="tachesSolitairesVide">Il n'y a pas de tâche sans projet</h5>

  <ul class="list-group">
    <app-tache-simple *ngFor="let tache of TasksSolitaires"
                       [tache]="tache"></app-tache-simple>
  </ul>
</div>

<button routerLink="" class="btn btn-danger">Retour</button>
