<div class="list-group">
  <a class="list-group-item list-group-item-action" (click)="onQuickStart()">Quick start</a>
</div>

<div>
  <h3>Liste des tâches en cours</h3>
  <h5 id="tacheEnCoursVide"> Il n'y a pas de tâche en cours </h5>

  <ul class="list-group">
  <app-tache-simple *ngFor="let tache of tasksRunning"
                     [tache]="tache"></app-tache-simple>
  </ul>

  <a routerLink="toutes-les-taches" class="list-group-item list-group-item-action">Toutes les tâches</a>
  <a routerLink="taches-solitaires" class="list-group-item list-group-item-action">Toutes les tâches solitaires</a>
</div>

<div>
  <h3>Liste des projets</h3>
  <h5 id="listeProjetVide"> Aucun projet défini </h5>

  <ul class="list-group">
    <app-projet-simple *ngFor="let projet of projets"
                       [projet]="projet"
                       (click)="onSelect(projet)"></app-projet-simple>
  </ul>
</div>

<div>
  <a routerLink="creerProjet" class="list-group-item list-group-item-action">Nouveau projet</a>
</div>
