<h4 id="baniereNormal">Création d'une nouvelle tâche</h4>
<h4 id="baniereQuick">Quickstart</h4>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-group">
    <label for="nom">Nom de la tâche</label>
    <input type="text" name="nom" class="form-control" required="required" ngModel>
  </div>

  <label for="projet">Choisir le projet associé</label>
  <select name="projet" class="form-control" ngModel>
   <option selected value="null">Aucun</option>
   <option *ngFor="let projet of projets">{{projet.name}}</option>
  </select>

  <div class="custom-control custom-checkbox" id="demarrage">
   <input type="checkbox" name="demarrage" class="custom-control-input" ngModel>
   <label class="custom-control-label" for="checkBoxDepartTimer">Démarrer la tâche tout de suite ?</label>
  </div>

  <button class="btn btn-primary" type="submit">Enregistrer</button>
</form>
