<div class="list-group">
  <a class="list-group-item list-group-item-action disabled">Quick start</a>
</div>

Tâche en cours

<div>
  <a class="list-group-item list-group-item-action disabled">Toutes les tâches</a>
  <a class="list-group-item list-group-item-action disabled">Les tâches solitaires</a>
</div>

Liste des projets simplifiés

<div>
  <a routerLink="creerProjet" class="list-group-item list-group-item-action">Nouveau projet</a>
  <a class="list-group-item list-group-item-action disabled">Historique</a>
</div>
